html {
    font-family: $font-regular!important;
    font-size: 16px!important;
}
body {
    margin: 0 0 0 0;
}

/*-----Toolbar-----*/ 
.toolbar {
    .uk-navbar {
        background-color: $grad-dark;
        padding: 1rem;
            li {
                a {
                    font-size: 0.75rem;
                    color: $grad-light;
                    line-height: 0.75rem;
                    min-height: auto;
                    text-transform: none;
                    display: inline;
                    &:hover {
                        color: $grad-light-hover;
                    }
                    span {
                        margin-right: 0.35rem;
                    }
                }
                .wtime {
                    font-size: 0.75rem;
                    color: $grad-light;
                    line-height: 0.75rem;
                    min-height: auto;
                    text-transform: none;
                    display: inline;
                    margin-left: 0.35rem;
                }
            }
    }
}

/*-----Header-----*/ 
header {
    background-color: $grey;
    height: 80px;
    .nav-ilu {
        opacity: 0.5!important;
        &:hover {
            opacity: 1!important;
        }
    }
}

a {
    text-decoration: none;
}
.brands-list {
    .brands-logo {
        margin-top: 1rem!important;
        position: relative!important;
        filter: grayscale(100%);
        &:first-of-type {
            margin-top: 0!important;
        }
        &:hover {
            filter: none;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }
}

/*-----Footer-----*/ 

footer {
    margin-top: 10rem;
}