@import '_fonts.scss';

/*Fonts*/ 
$font-regular: 'robotoregular';
$font-medium: 'robotomedium';
$font-bold: 'robotobold';
$font-black: 'robotoblack';

/*Main color scheme*/
$grad-dark:    #1D1D2C;
$grad-light:   #F7F4E9;
$grad-red:     #E40C2B;
$grad-blue:    #3CBCC3;
$grad-yellow:  #EBA63F;
$grad-green:   #438945;

/*Action colors*/ 
$grad-light-hover:   #cccac2;
$btn-sec:            rgba(255,255,255,.1);
$btn-sec-col:        rgba(255,255,255,.7);
$btn-sec-border:     rgba(255,255,255,.2);
$btn-sec-hover:      rgba(255,255,255,.7);


/*Common colors*/ 
$black:      #000000;
$white:      #ffffff;
$grey:       #f8f8f8;
$grey2:      #cfcfcf;